body{
	background: #F0EDD4;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 40px;
	background: #ECCDB4;
	margin: 0;
	width: 100%;
	padding: 20px 0px 20px 0px;
	font-weight: bolder;
}

p{
	padding: 10px;
	font-size: 30px;
}

.c{
	
	border: 1px solid #E1ECC8;
	box-shadow: 1px 1px 2px black;
	border-radius: 5px;
}
div{
	margin: 3% 15% 0% 3%;
	padding: 10px;	
}

a{
	text-decoration: none;
	border: 1px solid #ECCDB4;
	background: #ECCDB4;
	border-radius: 4px;
	font-size: 25px;
	padding: 4px;

}
a:hover{
	background: rgb(254, 161, 161);
}
span{
	font-size: 25px;
}